body{
  position: relative;
  text-align: center;
  margin: 0;
}

h1{
  font-family: 'Pacifico', cursive;
  font-size: 4rem;
  color: #FF577F;
  margin: 50px 20px 0 auto;
}

h2{
  font-family: 'Cookie', cursive;
  font-size: 3.8rem;
  color:#256D85;
}

p{
  line-height: 2;
  color: #151D3B;
  font-size: 1.5rem;
  font-family: 'Merriweather', serif;
}

.top-container{
  background-color: lightpink;
  padding-top: 10px;
  font-size: 2.5rem;
}

.balloons-1{
  position: absolute;
  left: 12%;
  width: 15%;
}

.balloons-2{
  position: absolute;
  right: 12%;
  width: 15%;
}

.hbdbanner{
  width: 25%;
}

.img-top-middle{
  position:relative;
  left: 15px;
  float: left;
}

.date-8{
  width: 25%;
  margin-right:10px;
}

.november{
  width:25%;
  margin-left: 10px;
}

.middle-container{
  padding-top: 5px;
  background-color: #FFE3E1;
}

.wishes{
  width:50%;
  display: inline-block;
  margin: 100px auto 100px auto;
  text-align: center;
}

.message{
  width: 50%;
  margin: 10px auto;
}

.hbd{
  width: 30%;
}

.hbdcake{
  width:60%;
  float: right;
  margin-left: 20px;
}

.bottom-container{
  padding-top: 5px;
  background-color: lightblue;
}

.ms{
  width: 50%;
}
